@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap");
body {
	margin: 0;
	/* font-family: "Work Sans", sans-serif; */
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
	--background: white;
	--text-primary: black;
	--primary: blueviolet;
	--accent: #dcbff6;
}
[data-theme="dark"] {
	--background: black;
	--text-primary: white;
	--accent: #dcbff6;
	--primary: #cba2f1;
}
